<span class="BuildOverview-statusBar">&nbsp;</span>
<div class="BuildOverview-content">
  {{#if build.isPending}}
    <h1>Receiving build...</h1>
  {{else if build.isProcessing}}
    <h1>Processing build...</h1>
  {{else if build.isFinished}}
    {{#if build.hasDiffs}}
      <h1>{{pluralize build.totalComparisonsDiff "visual difference"}} found</h1>
    {{else}}
      <h1>No visual differences found</h1>
    {{/if}}
  {{else if build.isFailed}}
    <h1>This build failed</h1>
  {{else if build.isExpired}}
    <h1>This build has expired</h1>
  {{/if}}

  {{#if build.isFinished}}
    <h2>from {{pluralize build.totalComparisonsFinished "snapshot"}}</h2>
  {{else if build.isFailed}}
    {{build.failureReasonHumanized}}
  {{/if}}
</div>
