<header class="SnapshotViewer-header sticky grid gap-4 z-1 px-2 py-1 bg-gray-000 border-top border-bottom border-gray-100">
  <div class="flex align-center truncate">
    <figure class="svg-container">
      {{comparison-icon
        hasComparison=hasComparisonAtSelectedWidth
        svgClassName="mr-1"
      }}
    </figure>
    <div class="text-weight-bold truncate" data-test-snapshot-header-title title="{{snapshot.name}}">{{snapshot.name}}</div>
  </div>
  <div class="btn-toolbar">
    <div class="btn-group">
      {{#copy-button
        class="btn-icon-only"
        clipboardText=(concat "percy.io/" project.fullSlug "/builds/" build.id "?snapshot=" snapshot.id)
        title="Copy snapshot URL to clipboard"
        success=(action "selectChild")
      }}
        {{inline-svg "link-icon" class="mr-sm"}}
      {{/copy-button}}
    </div>
    <div class="btn-group btn-group-alt">
      {{comparison-switcher
        comparisons=snapshot.comparisons
        buildWidths=buildWidths
        snapshotSelectedWidth=snapshotSelectedWidth
        updateSelectedWidth=(action 'updateSelectedWidth')
      }}
    </div>
    <div class="btn-group">
      <button type="button" class="ToggleFullViewButton btn btn-square maximize-snapshot"
        {{action 'showSnapshotFullModalTriggered' snapshot.id snapshotSelectedWidth}}>
        <figure class="svg-container">
          {{inline-svg "maximize-icon"}}
        </figure>
      </button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-success" {{action (route-action "createReview" build.id (array snapshot.id))}}>Approve</button>
    </div>
  </div>
</header>
{{#if isExpanded}}
  {{#if selectedComparison}}
    {{comparison-viewer
      comparison=selectedComparison
      snapshotSelectedWidth=snapshotSelectedWidth
      isDefaultExpanded=isDefaultExpanded
      showNoDiffSnapshot=showNoDiffSnapshot
    }}
  {{else}}
    <div class="SnapshotViewer-noComparison">
      No snapshot taken at {{snapshotSelectedWidth}}px.
    </div>
  {{/if}}
{{/if}}
